@import "libs/reset";
@import "libs/mixins";
@import "libs/vars";
@import "layout/page";

.page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include linear-gradient(to bottom right, $white, rgba($dark, .075));

    font-family: 'Montserrat', sans-serif;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $white;
    
    transition: $fast-transition;
    position: relative;

    border: 1px solid rgba($dark, .05);

    @include breakpoint(medium) {
        width: 95%;
        height: 90%;
        border-radius: 5px;

        box-shadow: 2px 2px 25px 1px rgba($dark, .025);

        flex-direction: column;
    }
    &:hover {
        box-shadow: 2px 5px 30px 1px rgba($dark, .075);
    }
}

.product-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
        flex-direction: row;
        // height: calc(100% - 150px);
    }
}

.other-product-container {
    width: 100%;
    height:75px;
    background-color: darken($white, 4%);

    position: absolute;

    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
    z-index: 999;
    transition: $fast-transition;

    @include breakpoint(medium) {
        background-color: $white;
        top: unset;
        bottom: 0;
    }

    &:hover {
        height: 175px;
    }
}

.product-container .half {
  
    display: inline-block;
    margin: 0;

    width: 100%;
    height: 50%;

    &.product__left {
        @include linear-gradient(to bottom right, rgba($gr-1, .25), rgba($gr-2, .25));
        background-color: $white;

    }

    &.product__right {
        @include linear-gradient(to top right, $gr-3, $gr-4);
    }

    @include breakpoint(medium) {
        width: 50%;
        height: 100%;
    }
}

.product__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    padding: 80px 60px 20px 60px;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.5px;

        color: $gr-3;

        @include breakpoint(medium) {
            font-size: 3.25rem;
        }
    }

    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: darken($white, 25%);

        margin-bottom: 40px;
    }

    @include breakpoint(medium) {
        padding: 40px 100px;
    }
}

.product__info .info {
    z-index: 100;
}

.product__info .product__counter {
    position: absolute;
    bottom: 30px;
    right: 30px;

    font-size: 10rem;
    color: $dark;

    opacity: .02;

    z-index: 1;

    @include breakpoint(medium) {
        font-size: 25rem;
    }
}

.product__image {
    height: 100%;
}

.product__buy {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content:  flex-start;

    flex-direction: row;

    .price {
        width: 100%;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    @include breakpoint(medium) {
        margin-top: 60px;
    }
}

.product__buy .price {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10px;

    color: $gr-3;
    font-weight: 700;

    sub {
        font-size: 0.75rem;
    }
}

.product__buy .button {
    letter-spacing: 2px;
    padding: 20px 50px;
    border-radius: 50px;
    outline: 0;
    border: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 0.625rem;
    line-height: 0.625rem;

    text-transform: uppercase;

    transition: $fast-transition;
    cursor: pointer;
    box-shadow: 2px 2px 25px 0 rgba($dark, .25);

    &.button-buy {
        background-color: $dark;
        color: $white;
    }

    &:hover {
        background-color: $gr-4;
        box-shadow: 2px 2px 25px 0 rgba($gr-4, .5);
    }
}
