// Colors
$red: #C31E31;
$orange: #F95B1C;
$white: #ffffff;
$dark: #111115;
$brown: #CC8D7A;

// Gradient colors
$gr-1: #fdfbfb;
$gr-2: #ebedee;
$gr-3: #6F66F9;
$gr-4: #B746ED;


// Transitions
$fast-transition: .35s ease-in-out;